@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";

}

<h1>Welcome! </h1>
<h2>This is Hadiyha Khan from the CST8359 Course</h2>
<p>The assignmemt was pretty straight forward but time consuming.</p>
<p>There were times where I would get a little lost in the instructions but it all came togerher eventually.</p>